{% extends 'pages/base.html' %}

{% block maintitle %}
  Creator Dashboard - Oppia
{% endblock maintitle %}

{% block header_js %}
  {{ super() }}
  <script type="text/javascript">
    GLOBALS.DEFAULT_TWITTER_SHARE_MESSAGE_DASHBOARD = JSON.parse(
      '{{DEFAULT_TWITTER_SHARE_MESSAGE_DASHBOARD|js_string}}');
  </script>
{% endblock header_js %}

{% block navbar_breadcrumb %}
  <ul class="nav navbar-nav oppia-navbar-breadcrumb">
    <li>
      <span class="oppia-navbar-breadcrumb-separator"></span>
      <span translate="I18N_TOPNAV_DASHBOARD"></span>
    </li>
  </ul>
{% endblock navbar_breadcrumb %}

{% block content %}
  <background-banner></background-banner>
  <div class="oppia-dashboard-container" ng-controller="Dashboard" style="position: relative;">
    <div class="oppia-dashboard-aggregated-stats" ng-if="explorationsList.length > 0 || collectionsList.length > 0">
      <md-card layout="row">
        <div class="average-ratings stats-card">
          <p class="stat-description" translate="I18N_DASHBOARD_STATS_AVERAGE_RATING"></p>
          <h1 class="stat-value"><[dashboardStats.average_ratings || 'N/A']></h1>
          <p ng-hide="!dashboardStats.num_ratings">
            (by <[dashboardStats.num_ratings]> users)
          </p>
        </div>
        <div class="total-plays stats-card">
          <p class="stat-description" translate="I18N_DASHBOARD_STATS_TOTAL_PLAYS"></p>
          <h1 class="stat-value"><[dashboardStats.total_plays]></h1>
          <p ng-hide="!relativeChangeInTotalPlays">
            (+<[relativeChangeInTotalPlays]> from last week)
          </p>
        </div>
        <div class="total-open-feedback stats-card">
          <p class="stat-description" translate="I18N_DASHBOARD_STATS_OPEN_FEEDBACK"></p>
          <h1 class="stat-value"><[dashboardStats.total_open_feedback]></h1>
        </div>
        <div class="total-open-feedback stats-card">
          <p class="stat-description" translate="I18N_DASHBOARD_STATS_TOTAL_SUBSCRIBERS"></p>
          <h1 class="stat-value"><[subscribersList.length]></h1>
        </div>
      </md-card>
    </div>

    <div ng-if="explorationsList.length > 0 || collectionsList.length > 0">
      <ul class="oppia-dashboard-tabs">
        <li ng-if="explorationsList.length > 0"
            ng-class="{'oppia-dashboard-tabs-active': activeTab === 'myExplorations'}">
          <a class="oppia-dashboard-tabs-text"
             ng-click="setActiveTab('myExplorations')"
             translate="I18N_DASHBOARD_EXPLORATIONS">
          </a>
        </li>
        {% if not can_create_collections %}
          <!-- A layout fix when the 'My Collections' tab is absent. -->
          <li ng-if="collectionsList.length === 0 && subscribersList.length === 0"></li>
        {% endif %}
        {% if can_create_collections %}
          <li ng-if="collectionsList.length > 0"
              ng-class="{'oppia-dashboard-tabs-active': activeTab === 'myCollections'}">
            <a class="oppia-dashboard-tabs-text"
               ng-click="setActiveTab('myCollections')"
               translate="I18N_DASHBOARD_COLLECTIONS">
            </a>
          </li>
        {% endif %}
        <li ng-if="subscribersList.length > 0"
            class="protractor-test-subscription-tab"
            ng-class="{'oppia-dashboard-tabs-active': activeTab === 'mySubscribers'}">
          <a class="oppia-dashboard-tabs-text"
             ng-click="setActiveTab('mySubscribers')"
             translate="I18N_DASHBOARD_SUBSCRIBERS">
          </a>
        </li>

        <li class="list-card-view-toggle dashboard-hide-mobile"
            ng-if="activeTab === 'myExplorations' && explorationsList.length > 0">
          <button class="card-view-btn"
                  ng-class="{'dashboard-active-view': myExplorationsView === 'card'}"
                  ng-click="setMyExplorationsView('card')"
                  aria-label="Card View">
            <span class="fa fa-th-large fa-lg"></span>
          </button>
          <button class="list-view-btn"
                  ng-class="{'dashboard-active-view': myExplorationsView === 'list'}"
                  ng-click="setMyExplorationsView('list')"
                  aria-label="List View">
            <span class="fa fa-list fa-lg"></span>
          </button>
        </li>
      </ul>
    </div>

    <div ng-if="explorationsList.length === 0 && collectionsList.length === 0">
      <h2 class="oppia-dashboard-title">
        Creator Dashboard
      </h2>
    </div>

    <div ng-if="activeTab === 'myExplorations'">
      <div ng-if="explorationsList.length === 0 && collectionsList.length === 0" class="oppia-dashboard-empty-text">
        <md-card layout="row"
                 class="oppia-page-card oppia-dashboard-intro-card"
                 style="margin-top: 0;">
          <div>
            <p>
              It looks like you haven't created any explorations yet.
              Let's get started!
            </p>
            <button type="button"
                    class="btn oppia-dashboard-intro-button oppia-transition-200"
                    ng-click="createNewExploration()">
              Create Exploration
            </button>
          </div>
          <div class="oppia-dashboard-intro-picture">
            <img ng-src="<[emptyDashboardImgUrl]>">
          </div>
        </md-card>
      </div>

      <div ng-if="explorationsList.length > 0" class="oppia-dashboard-tab-panel" style="padding-top: 13px; padding-bottom: 46px;">
        <span class="sort-explorations-select"
              ng-if="activeTab === 'myExplorations'"
              ng-class="{'sort-explorations-select-three-tabs': (collectionsList.length !== 0 && subscribersList.length !== 0)}"
              style="float: right;">
          <p class="sort-by-text" translate="I18N_DASHBOARD_EXPLORATIONS_SORT_BY">Sort By</p>
          <select ng-model="currentSortType"
                  class="sort-options"
                  ng-change="setExplorationsSortingOptions(currentSortType)"
                  ng-options="EXPLORATIONS_SORT_BY_KEYS[key] as value | translate for (key, value) in HUMAN_READABLE_EXPLORATIONS_SORT_BY_KEYS">
          </select>
          <span class="sort-order fa"
                ng-click="setExplorationsSortingOptions(currentSortType)"
                ng-class="isCurrentSortDescending ? 'fa-long-arrow-up': 'fa-long-arrow-down'">
          </span>
        </span>
      </div>

      <div ng-if="myExplorationsView === 'list' && explorationsList.length > 0">
        <md-card layout="row"
                 class="oppia-dashboard-list-view-item">
          <table class="oppia-dashboard-table">
             <colgroup>
               <col style="width: 26%;">
               <col style="width: 13%;">
               <col style="width: 13%;">
               <col style="width: 16%;">
               <col style="width: 16%;">
               <col style="width: 16%;">
            </colgroup>
            <tr>
              <th ng-repeat="(key, value) in EXPLORATIONS_SORT_BY_KEYS"
                  class="oppia-dashboard-table-headings"
                  ng-click="setExplorationsSortingOptions(value)">
                <p ng-if="key === 'TITLE'" translate="I18N_DASHBOARD_TABLE_HEADING_EXPLORATION"></p>
                <p ng-if="key === 'RATING'" translate="I18N_DASHBOARD_TABLE_HEADING_RATING"></p>
                <p ng-if="key === 'NUM_VIEWS'" translate="I18N_DASHBOARD_TABLE_HEADING_PLAYS"></p>
                <p ng-if="key === 'OPEN_FEEDBACK'" translate="I18N_DASHBOARD_TABLE_HEADING_OPEN_THREADS"></p>
                <p ng-if="key === 'LAST_UPDATED'" translate="I18N_DASHBOARD_TABLE_HEADING_LAST_UPDATED"></p>
                <span class="fa"
                      ng-if="currentSortType === value"
                      ng-class="isCurrentSortDescending ? 'fa-caret-up': 'fa-caret-down'">
                </span>
              </th>
            </tr>
            <tr ng-repeat="exploration in explorationsList | orderBy:sortByFunction:isCurrentSortDescending track by exploration.id"
                class="exploration-list-item">
              <td>
                <a ng-href="<[getExplorationUrl(exploration.id)]>" class="oppia-dashboard-list-summary">
                  <[exploration.title || DEFAULT_EMPTY_TITLE]>
                  <span ng-if="exploration.status === 'publicized'"
                        class="featured-badge">
                    featured
                  </span>
                </a>
              </td>
              <td colspan="4"
                  ng-if="exploration.status === 'private'"
                  class="exp-private-text">
                <a ng-href="<[getExplorationUrl(exploration.id)]>" class="oppia-dashboard-list-summary">
                  <[publishText]>
                </a>
              </td>
              <td ng-if="exploration.status !== 'private'">
                <a ng-href="<[getExplorationUrl(exploration.id)]>" class="oppia-dashboard-list-summary">
                  <[(getAverageRating(exploration.ratings) | number:1) || 'N/A']>
                </a>
              </td>
              <td ng-if="exploration.status !== 'private'">
                <a ng-href="<[getExplorationUrl(exploration.id)]>" class="oppia-dashboard-list-summary">
                  <[exploration.num_views]>
                </a>
              </td>
              <td ng-if="exploration.status !== 'private'">
                <a ng-href="/create/<[exploration.id]>#/feedback"
                   class="oppia-dashboard-list-summary">
                  <[exploration.num_open_threads]>
                </a>
              </td>
              <td>
                <a ng-href="<[getExplorationUrl(exploration.id)]>" class="oppia-dashboard-list-summary">
                  <[getLocaleAbbreviatedDatetimeString(exploration.last_updated_msec)]>
                </a>
              </td>
            </tr>
          </table>
        </md-card>
      </div>

      <div ng-if="myExplorationsView === 'card' && explorationsList.length > 0"
           class="oppia-card-view-wrap">
        <md-card ng-repeat="exploration in explorationsList | orderBy:sortByFunction:isCurrentSortDescending track by exploration.id"
                 class="oppia-activity-summary-tile oppia-dashboard-card-view-item protractor-test-exploration-dashboard-card"
                 is-private="exploration.status === 'private'">
          <a ng-href="/create/<[exploration.id]>">
            <div class="title-section"
                 style="background-color: <[exploration.thumbnail_bg_color]>;">
              <img class="thumbnail-image"
                   ng-src="<[exploration.thumbnail_icon_url]>">
              <h2 class="activity-title protractor-test-exp-summary-tile-title">
                <span><[(exploration.title || DEFAULT_EMPTY_TITLE) | truncate:40]></span>
              </h2>
            </div>
            <div class="mask-wrap">
              <div class="title-section-mask"></div>
            </div>
          </a>
          <div ng-attr-section="'<['right-section']>">
            <a ng-class="checkMobileView() ? 'oppia-dashboard-mobile-statistics-card-link': 'oppia-dashboard-statistics-card-link'"
               ng-href="<[getExplorationUrl(exploration.id)]>"></a>
            <div class="exp-private-text" ng-if="exploration.status === 'private'">
              <[publishText]>
            </div>
            <ul ng-if="exploration.status !== 'private'"
                layout="row"
                layout-wrap
                class="metrics"
                layout-align="space-between center">
              <li flex="50">
                <span class="protractor-test-exp-summary-tile-rating">
                  <span class="fa fa-star fa-lg oppia-dashboard-card-statistic-icon"
                        tooltip="<['I18N_LIBRARY_RATINGS_TOOLTIP' | translate]>"
                        tooltip-placement="top">
                  </span>
                  <span class="oppia-dashboard-card-statistic-value">
                    <[(getAverageRating(exploration.ratings) | number:1) || 'N/A']>
                  </span>
                </span>
              </li>

              <li flex="50" style="padding-left: 8px;" class="protractor-test-exploration-feedback-count">
                <span class="fa fa-comments fa-lg oppia-dashboard-card-statistic-icon"
                      tooltip="<['I18N_DASHBOARD_OPEN_FEEDBACK' | translate]>"
                      tooltip-placement="top">
                </span>
                <a ng-if="exploration.num_open_threads != 0" ng-href="/create/<[exploration.id]>#/feedback"
                   class="oppia-dashboard-card-statistic-value">
                  <[exploration.num_open_threads]>
                </a>
                <span ng-if="exploration.num_open_threads === 0"
                      class="oppia-dashboard-card-statistic-value">
                  <[exploration.num_open_threads]>
                </span>
              </li>

              <li flex="50">
                <span class="fa fa-eye fa-lg oppia-dashboard-card-statistic-icon"
                      tooltip="<['I18N_LIBRARY_VIEWS_TOOLTIP' | translate]>"
                      tooltip-placement="top">
                </span>
                <span class="oppia-dashboard-card-statistic-value">
                  <[exploration.num_views]>
                </span>
              </li>

              <li flex="50">
                <span class="fa fa-clock-o fa-lg oppia-dashboard-card-statistic-icon"
                      tooltip="<['I18N_LIBRARY_LAST_UPDATED' | translate]>"
                      tooltip-placement="top">
                </span>
                <span class="oppia-dashboard-card-statistic-value">
                  <[getLocaleAbbreviatedDatetimeString(exploration.last_updated_msec)]>
                </span>
              </li>
              <sharing-links ng-if="exploration.status !== 'private'"
                             ng-click="$event.stopPropagation()"
                             style="position: relative; right: 8px; bottom: 2px;"
                             flex="100"
                             class="dashboard-hide-mobile"
                             layout-type="row"
                             layout-align-type="center left"
                             twitter-text="DEFAULT_TWITTER_SHARE_MESSAGE_DASHBOARD"
                             share-type="exploration"
                             exploration-id="exploration.id">
              </sharing-links>
            </ul>
          </div>
        </md-card>
      </div>
    </div>

    <div ng-if="activeTab === 'mySubscribers'" style="margin-top: 8px;">
      <div class="oppia-dashboard-tab-panel">
        <span ng-if="subscribersList.length > 1"
              style="margin-top: 14px; display: inline-block;"
              translate="I18N_TOTAL_SUBSCRIBERS_TEXT"
              translate-values="{totalSubscribers: <[subscribersList.length]>}">>
        </span>
        <span ng-if="subscribersList.length === 1"
              style="margin-top: 14px; display: inline-block;"
              translate="I18N_ONE_SUBSCRIBER_TEXT">
        </span>
        <span class="sort-explorations-select"
              ng-if="activeTab === 'mySubscribers'"
              ng-class="{'sort-explorations-select-three-tabs': (collectionsList.length !== 0 && subscribersList.length !== 0)}"
              style="float: right;">
          <p class="sort-by-text">Sort By</p>
          <select ng-model="currentSubscribersSortType"
                  class="sort-options"
                  ng-change="setSubscriptionSortingOptions(currentSubscribersSortType)"
                  ng-options="SUBSCRIPTION_SORT_BY_KEYS[key] as value for (key, value) in HUMAN_READABLE_SUBSCRIPTION_SORT_BY_KEYS"
                  style="width: 160px;">
          </select>
          <span class="sort-order fa"
                ng-click="setSubscriptionSortingOptions(currentSubscribersSortType)"
                ng-class="isCurrentSubscriptionSortDescending ? 'fa-long-arrow-up': 'fa-long-arrow-down'">
          </span>
        </span>
      </div>
      <md-card class="oppia-subscription-card protractor-test-subscription-card"
               ng-repeat="subscriber in subscribersList | orderBy:sortSubscriptionFunction:isCurrentSubscriptionSortDescending">
        <a class="oppia-subscription-profile-link" href="/profile/<[subscriber.subscriber_username]>" target="_blank">
          <img ng-src="<[subscriber.subscriber_picture_data_url]>" class="oppia-subscription-card-profile-picture img-circle">
          <span class="oppia-subscription-card-summary">
            <div style="margin-bottom: 5px; font-size: 17.5px;">
              <strong class="protractor-test-subscription-name"
                      popover-append-to-body
                      popover-trigger="<[showUsernamePopover(subscriber.subscriber_username)]>"
                      ng-attr-popover="<[subscriber.subscriber_username]>">
                <[subscriber.subscriber_username| truncate:10]>
              </strong>
            </div>
            <div style="font-size: 14.5px;">
              <span>Impact</span>
              <span><[subscriber.subscriber_impact || 0]></span>
            </div>
          </span>
        </a>
      </md-card>
    </div>

    {% if can_create_collections %}
      <div ng-if="activeTab === 'myCollections'">
        <div ng-if="collectionsList.length === 0" class="oppia-dashboard-empty-text">
          <em>There are no collections to display.</em>
        </div>

        <ul class="oppia-dashboard-tiles"
            ng-if="activeTab === 'myCollections' && collectionsList.length > 0">
          <span ng-repeat="collection in collectionsList">
            <collection-summary-tile collection-id="collection.id"
                                     collection-title="collection.title"
                                     last-updated-msec="collection.last_updated"
                                     node-count="collection.node_count"
                                     objective="collection.objective"
                                     thumbnail-icon-url="collection.thumbnail_icon_url"
                                     thumbnail-bg-color="collection.thumbnail_bg_color"
                                     is-linked-to-editor-page="true">
            </collection-summary-tile>
          </span>
        </ul>
      </div>
    {% endif %}
  </div>

  {% include 'components/embed_modal/embed_exploration_modal_directive.html' %}
  {% include 'components/share/sharing_links_directive.html' %}

  {% include 'pages/dashboard/create_activity_modal_directive.html' %}
  {% include 'pages/dashboard/upload_activity_modal_directive.html' %}
{% endblock %}

{% block footer_js %}
  {{ super() }}
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/RatingComputationService.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/embed_modal/ExplorationEmbedButtonService.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/share/SharingLinksDirective.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/background/BackgroundBannerDirective.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/components/summary_tile/CollectionSummaryTileDirective.js"></script>

  <script src="{{TEMPLATE_DIR_PREFIX}}/domain/dashboard/DashboardBackendApiService.js"></script>
  <script src="{{TEMPLATE_DIR_PREFIX}}/pages/dashboard/Dashboard.js"></script>
{% endblock footer_js %}
